<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <nav class='navbar navbar-expand navbar-light bg-light'>
    <div class="text-center">
      <img src="./assets/images/myshop.jpg" class="img-responsive center-block"
       style="max-height:50px"
      />
    </div>
    <a class='navbar-brand'><marquee>{{myString}}</marquee></a>
    <ul class='nav nav-pills'>
      <li>
        <a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a>
      </li>
      <li>
        <a class='nav-link' routerLinkActive='active' [routerLink]="['/product']">Product List</a>
      </li>
    </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
  `,
</div>